@import"../base/extends.scss";
@import"../base/variables.scss";
@import"../base/mixin.scss";
*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: $blanco-general;
}
ul li{
    list-style-type: none;
}
body{
    overflow-x: hidden;
    @extend%tipografia;
    nav{
        div{
            padding: 0px 15px 0px 15px;
            a{
                h2{
                    @extend%tipografia;
                    font-size:x-large;
                }
            }
            h1{
                font-size:x-large;
            }
        }
    }

    footer{
        @include footer(center, 24px , 7px);
        div{
            display: inline-block;
        }
    }
}
main{
    div{
        div{
            img{
                margin: 50px;
                width: 630px;
                height: 891px;
            }
        }
    }
}